.adsByGoogle {
  display: block;
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: aqua;
}

@media (max-width: 650px) {
  .adsByGoogle {
    display: block;
    flex: 1;
    height: 100%;
    width: 100%;
  }
}
