.language-toggle {
  margin: 24px 12px;
}

.button.english {
  background-color: var(--primaryColor);
  color: var(--backgroundColor);
}

.button.spanish {
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
  border: var(--border);
}

.button .fa {
  transition: all 0.5s ease-in-out;
}

.button .text {
  transition: all 0.5s ease-in-out;
}

.button.english .fa {
  transform: translateX(0);
}

.button.english .text {
  transform: translateX(0);
}

I {
  margin-right: 8px;
}
