.header {
  flex: 1;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logoImage {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.headerColor {
  color: var(--backgroundColor);
}

.nav {
  align-items: right;
  display: flex;
  gap: 24px;
}

.navLink {
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    gap: 12px;
  }

  .nav.open {
    display: flex;
  }
}
