.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 0px;
}

.logoImage {
  width: 40px;
  height: 40px;
  padding-right: 10px;
  border-radius: 50%;
}

.headerColor {
  color: var(--backgroundColor);
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navLink {
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 650px) {
  .nav {
    gap: 12px;
    align-items: center;
  }

  .nav.open {
    display: flex;
  }

  .headerColor {
    display: none;
  }
}
