.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  color: white;
}

.logoContainer {
  flex: 1;
}

.logo {
  margin: 0;
}

.menuIcon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 20px;
}

.navLink {
  color: white;
  text-decoration: none;
}

.nav.open {
  display: block;
}

@media (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    gap: 10px;
  }

  .nav.open {
    display: flex;
  }
}