@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #00796b; /* Verde brillante */
  --secondaryColor: #ffb74d; /* Amarillo cálido */
  --backgroundColor: #e1f5fe; /* Azul claro */
  --textColor: #263238; /* Gris oscuro */
  --secondaryTextColor: #263238; /* Gris oscuro */
  --errorColor: #f44336;
  --detailColor: #fff;
  --boxShadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --border: 2px solid var(--primaryColor);
}

/* Modo oscuro basado en la preferencia del sistema */
@media (prefers-color-scheme: dark) {
  :root {
    --primaryColor: #80cbc4; /* Verde más claro */
    --secondaryColor: #180e00; /* Naranja suave */
    --backgroundColor: #263238; /* Gris oscuro */
    --textColor: #e1f5fe; /* Azul claro */
    --secondaryTextColor: #263238;
    --errorColor: #ff4f42;
    --detailColor: #37474f;
    --boxShadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    --border: 2px solid var(--secondaryColor);
  }
}

.dark {
  --primaryColor: #80cbc4;
  --secondaryColor: #180e00; /* Naranja suave */
  --backgroundColor: #263238;
  --textColor: #e1f5fe;
  --secondaryTextColor: #263238;
  --errorColor: #f44336;
  --detailColor: #37474f;
  --boxShadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  --border: 2px solid var(--secondaryColor);
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: 'Montserrat', Arial, sans-serif;
}

h1,
h2,
h3 {
  color: var(--primaryColor);
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

input,
textarea,
p {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;
}

textarea,
input {
  width: 100%;
  padding: 8px;
  margin-top: 4px 0;
  border: var(--border);
  border-radius: 8px;
  color: var(--secondaryTextColor);
}

small {
  font-size: 11px;
  color: var(--textColor);
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: 'Montserrat', Arial, sans-serif;
}

header {
  align-items: center;
}

footer {
  flex-wrap: wrap;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  background-color: var(--primaryColor);
}

button {
  display: flex;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border: var(--border);
  color: var(--backgroundColor);
  background-color: var(--primaryColor);
}

a {
  color: var(--backgroundColor);
  text-decoration: none;
  text-align: center;
  padding: 4px;
}

section {
  flex: 1;
  text-align: justify;
  min-width: 200px;
  padding: 16px;
}

li {
  margin: 8px 0;
  list-style: none;
}

.link {
  color: var(--primaryColor);
}

.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-top: 24px;
  flex-wrap: wrap;
}

.card {
  background-color: var(--detailColor);
  color: var(--primaryColor);
  padding: 24px;
  border-radius: 8px;
  width: 300px;
  box-shadow: var(--boxShadow);
  padding-bottom: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subtitle {
  font-size: 11px;
  font-weight: 600;
}

.content {
  max-width: 100%;
  overflow-wrap: break-word;
  detailcolor-space: pre-wrap;
  padding: 1px;
  border: var(--border);
  border-radius: 5px;
  background-color: var(--detailColor);
  padding: 0px 16px 16px 16px;
}

.icon {
  padding-right: 4px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.tabButton {
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
  border: var(--border);
  font-weight: bold;
}

.tabButton.active {
  background-color: var(--primaryColor);
  color: var(--backgroundColor);
}

@media (max-width: 650px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 250px;
  }

  button {
    font-weight: lighter;
  }
}
